<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2><%- cohort.name %></h2>
        <p><%- cohort.members_arr.toString() %> </p>
        <hr>
        <form action="/cohorts/<%- cohort.id %>" method="get">
            <div>
                <input type="radio" id="team_count" name="method" value="teamCount">
                <label for="team_count">Team Count</label>
                <input type="radio" id="number_per_team" name="method" value="perTeam">
                <label for="number_per_team">Number Per Team</label>
            </div>
            <div>
                <label for="quantity">Quantity</label>
                <input type="text" id="quantity" name="quantity">
            </div>
            <button>Assign Teams</button>
        </form>
    </div>
    <div>
        <%if (method && quantity) {%>
            <h3># Members</h3>
            <%for (let singleTeam of finalArr) {%>
                <p><%- singleTeam%></p>
            <%}%>
        <%}%>
    </div>
    <form action="/cohorts/<%- cohort.id %>/edit">
        <button>Edit This Cohort</button>
    </form>
    <form action="/cohorts/<%- cohort.id %>?_method=DELETE" method="post">
        <button>Delete This Cohort</button>
    </form>
</body>
</html>